#login form p.submit,
#registerform p.submit,
#lostpasswordform p.submit {
    clear: both;
    padding-top: 5px;
    text-align: right;
}

#loginform .hashcash-onoffswitch,
#registerform .hashcash-onoffswitch,
#lostpasswordform .hashcash-onoffswitch {
    margin-top: 2px;
}

.comment-form input[type=submit] {
    vertical-align: middle;
}

.hashcash-onoffswitch-checkbox {
    display: none !important;
}

.hashcash-disabled {
    opacity: 0.1;
}

.hashcash-onoffswitch {
    margin-right: 1em;
    text-align: left;
}

.hashcash-show-info .hascash-info {
	text-align: center;
}
